<div style="width:image width px; font-size:75%; text-align:right;">
    <img src="img/everyone_adi-goldstein_unsplash.jpg" width="width" height="height" style="padding-bottom:0.2em;" />
    <figcaption>Photo by Adi Goldstein on Unsplash</figcaption>
</div>

# Introduction to Python 2

**Applied Programming - Summer term 2020 - FOM Hochschule für Oekonomie und Management - Cologne**

**Lecture 04 - April 02, 2020**

*Dennis Gluesenkamp*

### Table of contents
* [Recap](#recap)
* [Loops](#loops)
* [Collections](#collections)
    * [Lists](#lists)
    * [Tuples](#tuples)
    * [Sets](#sets)
    * [Dictionaries](#dictionaries)
* [Modules](#modules)
* [Packages](#packages)
* [Third-party modules/packages](#thirdpartymodpack)
    * [sqlite3](#sqlite3)
    * [pandas](#pandas)
* [Exercise for the next lecture](#exerciselecture)
* [References](#references)

### Recap<a class="anchor" id="recap"></a>

To briefly repeat what you learned in the previous lecture, please answer the following questions or write the Python code according to the instructions
1. Write your solutions under this cell by creating more new cells. Introduce the solutions with a header of the fourth level.
2. What is the function to determine that 'foo' is a string and 3.1415 is a floating number?
3. What is the difference between an expression and a statement?
4. What is the problem with the following statement? Correct the code so that it is runnable.
```python
12monkeys = 'film'
result = 3 * 12monkeys
print(result)
```
5. What are the basic types of packages and modules?
6. Calculate the quotient of 11 (dividend) and 7 (divisor) and round the result to four decimal places.
7. Create/define a custom function with three arguments that does the following: sum of the first and second argument, modulo third argument, and returns the result as a floating number. Set a default value of 2 for the third argument.

#### Solutions

In [1]:
type('foo')

str

In [3]:
monkeys = 'film'
result = 3 * monkeys
print(result)

filmfilmfilm

In [6]:
round(11/7, 4)

1.5714

In [11]:
def cust_function(a,b,c=2):
    return float((a+b)%c)

cust_function(2,3, 3)

2.0

### Loops<a class="anchor" id="loops"></a>
In the last lecture the ``if`` statement was shown as a possible element for programming conditions. Another typical element for the implementation of execution sequences in code are loops. The two possibilities ``while`` and ``for`` in Python will be shown here. [[1]](#downey2015)

In [12]:
def countdown(n = 10):
    while n > 0:
        print(n)
        n = n-1
    print('Lift off!')

In [13]:
countdown()

10
9
8
7
6
5
4
3
2
1
Lift off!

With the while loop it is important to do the programming carefully. The variable of the test condition should change so that the loop does not run infinitely  [[1]](#downey2015).

The for ``loop`` in Python works more like an iterator than typically found in other programming languages where it loops through a set of code for a certain number. Of course the following loop is correct and functional:

In [14]:
range(10)

range(0, 10)

In [15]:
def countup(n = 10):
    for i in range(n):
        print(i+1)
    print('Finished!')

In [16]:
countup()

1
2
3
4
5
6
7
8
9
10
Finished!

However, you can also (and not only) iterate over the elements of lists:

In [17]:
for i in ['A1', 'B2', 'C3']:
    print(i)

A1
B2
C3

Or even strings:

In [18]:
for i in 'LoremIpsum':
    print(i)

L
o
r
e
m
I
p
s
u
m

### Collections<a class="anchor" id="collections"></a>
Python implements four types of data containers for general purposes which are called containers [[2]](#python2020a). These are [[3]](#w3schools2020):
* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered and unindexed. No duplicate members.
* **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

The property that elements of a collection can respectively cannot be changed is called mutable respectively immutable. If you want to go deeper into this topic, the article by Megha Mohan [[4]](#mohan2017) is recommended.

#### Lists<a class="anchor" id="lists"></a>
A list is a sequence of values, so it is ordered. The values of such a list are called items or elements and can be of any type - except a string which is also a list of characters. By the index you can access the items. Indices in Python start with 0. With negative indices the elements can be accessed backwards, so starting at the end of the list.

In [19]:
listA = ['Mother', 'Father', 'Daughter', 'Son']
type(listA)

list

In [20]:
listA[1]

'Father'

In [21]:
listA[1:4]

['Father', 'Daughter', 'Son']

In [22]:
listA[2:]

['Daughter', 'Son']

In [23]:
listA[-2]

'Daughter'

In [24]:
listA[-4:-2]

['Mother', 'Father']

In [27]:
# Append additional elements to the list
listA.append('Grandma')
listA

['Mother', 'Father', 'Daughter', 'Son', 'Grandpa', 'Grandma', 'Grandma']

In [34]:
# Insert elements at a specific position
listA.insert(4, "Grandpa")
listA

['Mother', 'Father', 'Son', 'Baby', 'Grandpa', 'Grandpa', 'Grandma']

In [29]:
# Change elements in the list, because lists are mutable
listA[5] = 'Baby'
listA

['Mother',
 'Father',
 'Daughter',
 'Son',
 'Grandpa',
 'Baby',
 'Grandma',
 'Grandma']

In [36]:
# Remove an element by value
listA.remove('Grandpa')
listA

['Mother', 'Father', 'Son', 'Baby', 'Grandma']

In [32]:
# Remove an element by index (default is last element)
listA.pop(2)
listA

['Mother', 'Father', 'Son', 'Baby', 'Grandma']

##### Exercises
1. Create a list of five fruits and variable name of your choice.
2. Make a copy of that list, so that the upcoming change in task 3 doesn't change the copy of your list. How can you do this? Explain in this context what a reference to an object is. (You may have to do some research on the Internet to find the solution.)
3. Remove the third element by index.
4. Join/concatenate your original list and the copy. There are multiple ways for this task.

In [37]:
fruechte = ['Apfel','Banane','Kiwi','Orange','Birne']
fruechteCPY = fruechte.copy()
fruechteCPY.pop(2) 
fruechte += fruechteCPY
#fruechte.extend(fruechteCPY)
fruechte

['Apfel',
 'Banane',
 'Kiwi',
 'Orange',
 'Birne',
 'Apfel',
 'Banane',
 'Orange',
 'Birne']

#### Tuples<a class="anchor" id="tuples"></a>
The striking difference to lists is that tuples are not changeable - in other words *immutable*. However, their elements are also ordered by indexes.

In [38]:
tupleA = ('Mother', 'Father', 'Daughter', 'Son')
type(tupleA)

tuple

In [39]:
tupleA[1:4]

('Father', 'Daughter', 'Son')

In [40]:
tupleA[-4:-2]

('Mother', 'Father')

In [41]:
# Elements of the tuple, resp. the tuple as a whole is immutable
tupleA[1] = 'Men'

TypeError: 'tuple' object does not support item assignment

##### Exercises
1. Create a tuple of five car manufacturers and variable name of your choice.
2. Iterate through the tuple with a ``for`` loop and print the current manufacturer name in each loop iteration.

In [42]:
car_manuf = ('VW', 'BMW', 'Toyota', 'GM', 'Peugeot')
for i in car_manuf:
    print(i)

VW
BMW
Toyota
GM
Peugeot

#### Sets<a class="anchor" id="sets"></a>
In contrast to tuples and lists, sets do not have an order and therefore the elements do not have indices. However iteration is possible and you can check whether an element exists in the set. The sets are mutable, whereas Python offers also a specific type of immutable sets: ``frozenset`` [[5]](#python2020b)

In [43]:
setA = {'Mother', 'Father', 'Daughter', 'Son'}
type(setA)

set

In [44]:
# Elements doesn't have an index
setA[1]

TypeError: 'set' object is not subscriptable

In [45]:
for element in setA:
    print(element)

Daughter
Father
Son
Mother

In [47]:
'Men' in setA

False

In [48]:
setA.add('Grandma')
setA

{'Daughter', 'Father', 'Grandma', 'Mother', 'Son'}

In [49]:
# Adding duplicates isn't possible but without error
setA.add('Father')
setA

{'Daughter', 'Father', 'Grandma', 'Mother', 'Son'}

In [50]:
setA.remove('Grandma')
setA

{'Daughter', 'Father', 'Mother', 'Son'}

In [51]:
# Raises an error if element doesn't exist
setA.remove('Grandma')

KeyError: 'Grandma'

In [52]:
# Different method for removing items without error raising
setA.discard('Grandma')

##### Exercises
1. Create a set of five cities and variable name of your choice.
2. Copy your set to a new variable and change two cities to other cities of your choice.
3. Research and test the set-related method ``intersection()``.
4. Which SQL-statement is equivalent to the ``intersection()`` method? Write the SQL-statement here in a Markdown cell by using appropriate syntax highlighting.

In [53]:
cities = {'New York', 'Köln', 'Mainz', 'Paris', 'London'}
c_cities = cities.copy()
print(cities)

cities.pop()
cities.pop()
print(cities)

cities.add('Istanbul')
cities.add('Berlin')
print(cities)

{'Mainz', 'Köln', 'London', 'New York', 'Paris'}
{'London', 'New York', 'Paris'}
{'Berlin', 'London', 'New York', 'Paris', 'Istanbul'}

In [54]:
cities.intersection(c_cities)

{'London', 'New York', 'Paris'}

```SQL
SELECT     *
FROM       staedte
INNER JOIN staedteCpy
ON         staedte.Stadt = staedteCpy.Stadt
```

If you want to know more about the order in which sets are displayed, see [[6]](#aroutiounian2013).

#### Dictionaries<a class="anchor" id="dictionaries"></a>
Dictionaries consists of key-value-pairs which are unordered but the pairs have indices and can be changed - so dictionaries are *mutable*.

In [55]:
dictA = {
    'mother': 'Mary',
    'father': 'Pete',
    'daughter': 'Daisy',
    'son': 'Chuck'
}
dictA

{'mother': 'Mary', 'father': 'Pete', 'daughter': 'Daisy', 'son': 'Chuck'}

In [58]:
# Access value by key, not vice versa
dictA['mother']

'Mary'

In [59]:
dictA.get('father')

'Pete'

In [60]:
dictA['mother'] = 'Deanna'
dictA

{'mother': 'Deanna', 'father': 'Pete', 'daughter': 'Daisy', 'son': 'Chuck'}

### Modules<a class="anchor" id="modules"></a>
Modules are one of the levels of abstraction in Python and technically nothing more than individual Python files (``*.py``). These files contain variables and functions that belong together in a certain sense and are therefore implemented or defined separately. [[7, p.61](#reitz2016); [8](#learnpython2020)]

To create a module, it is therefore only necessary to write the desired code in a Python file. This file can then be integrated into the current project, for example a Jupyter Notebook, by calling ``import`` followed by the module name which is the file name. It is possible to name the included module with an (abbreviated) name. This is done with the command ``as``.

In [1]:
import examplemodule as em

In [3]:
em.calcEuclideanDist([1, 1, 1], em.coord2)

7.54983443527075

### Packages<a class="anchor" id="packages"></a>
If the complexity and the structure of a project makes it necessary to combine several modules to a superior unit, so-called packages can be created. These are folders that contain module files. The only special feature is the existence of a ``__init__.py`` in this folder, which contains overall definitions for the whole package. [[7, p.65](#reitz2016); [8](#learnpython2020)]

A module of a package is included by the ``import`` command, preceded by the package name and separated from the module name by a period.

In [4]:
import examplepackage.examplemodule as pem

In [5]:
help(pem)

Help on module examplepackage.examplemodule in examplepackage:

NAME
    examplepackage.examplemodule - This module is for exemplary purposes.

FUNCTIONS
    calcEuclideanDist(c1, c2)
        This function calculates the euclidean distance between two coordinates
        in the three-dimensional space.

DATA
    coord1 = [1, 5, 7]
    coord2 = [3, 3, 8]
    coord3 = [8, 4, 3]
    coord4 = [7, 5, 7]

FILE
    /home/dennis/Dokumente/DataScience/Lectures/ss20-applied-programming/examplepackage/examplemodule.py

In [6]:
pem.calcEuclideanDist(pem.coord1, [-1, -1, -1])

10.198039027185569

### Third-party modules/packages<a class="anchor" id="thirdpartymodpack"></a>
Besides the very extensive built-in modules and packages that Python already comes with by default, an overwhelming number of third-party packages can be installed and used. For an overview of such additional packages already included in the Anaconda distribution, please refer to [[9]](#anaconda2020). Here you can also see whether these packages are already available with the installation of Anaconda or whether they need to be installed later via conda. If you are not using Anaconda, you can install additional packages via ``pip`` [[10]](#pip2020). 

At this point we want to take a first, superficial look at two third-party packages: ``sqlite3`` [[11]](#sqlite32020) and ``pandas`` [[12]](#mckinney2011). In the next lectures we will learn more packages/modules and their usage.

#### sqlite3

In [7]:
import sqlite3

In [8]:
con_obj = sqlite3.connect('dat/baseball.sqlite')
c = con_obj.cursor()

In [10]:
c.execute("""
SELECT   name_full, city
FROM     college
WHERE    state = 'GA'
""").fetchall()           # use fetchone() for single line of output

[('Albany State University', 'Albany'),
 ('Armstrong Atlantic State University', 'Savannah'),
 ('Brewton-Parker College', 'Mount Vernon'),
 ('Emory University', 'Atlanta'),
 ('Berry College', 'Mount Berry'),
 ('Coastal Georgia Community College', 'Brunswick'),
 ('Georgia College and State University', 'Milledgeville'),
 ('Columbus State University', 'Columbus'),
 ('Georgia Perimeter College', 'Covington'),
 ('Middle Georgia College', 'Cochran'),
 ('South Georgia College', 'Douglas'),
 ('Georgia Southwestern State University', 'Americus'),
 ('Georgia Institute of Technology', 'Atlanta'),
 ('University of Georgia', 'Athens'),
 ('Georgia Southern University', 'Statesboro'),
 ('Georgia State University', 'Atlanta'),
 ('Kennesaw State University', 'Kennesaw'),
 ('Mercer University', 'Macon'),
 ('Morehouse College', 'Atlanta'),
 ('Oglethorpe University', 'Atlanta'),
 ('Piedmont College', 'Demorest'),
 ('Savannah College of Arts and Design', 'Savannah'),
 ('Shorter College', 'Rome'),
 ('Valdosta State University', 'Valdosta'),
 ('State University of West Georgia', 'Carrollton')]

#### pandas

In [11]:
import pandas as pd

In [14]:
df = pd.read_sql_query("""
SELECT   park_name, city
FROM     park
WHERE    state = 'TX'
""", con_obj)

In [15]:
df

                       park_name       city
0              Arlington Stadium  Arlington
1  Rangers Ballpark in Arlington  Arlington
2                   Colt Stadium    Houston
3                      Astrodome    Houston
4               Minute Maid Park    Houston

In [ ]:
# Close the database connection
con_obj.close()

##### Exercises
1. Write an SQL-statement for the ``read_sql_query()`` method of the pandas module which copies the solution to the question t) of the live exercises/example in lecture 2. Store the result in a variable.
2. Solve the following tasks using the pandas-documentation or a cheat sheet:

    a) Delete the column ``park_name`` from the DataFrame.
    
    b) Store a filtered copy table in a new variable where rows with an empty ``city`` column are excluded.
    
    c) Add a new column ``adress`` to the just create table, which is composed of the information on ``park``, a comma followed by a blank and the ``city``.

```sql
SELECT       year, team_id, park, city, park_name
FROM         team
LEFT JOIN    park
ON           park = park_name
WHERE        year = 2000
ORDER BY     city
```

In [24]:
df2 = pd.read_sql_query("""
SELECT       year, team_id, park, city, park_name
FROM         team
LEFT JOIN    park
ON           park = park_name
WHERE        year = 2000
ORDER BY     city
""", con_obj)
df2

,year,team_id,park,city,park_name
0,2000,ANA,Edison International Field,None,None
1,2000,ARI,Bank One Ballpark,None,None
2,2000,BOS,Fenway Park II,None,None
3,2000,CHA,Comiskey Park II,None,None
4,2000,CLE,Jacobs Field,None,None
5,2000,FLO,Pro Player Stadium,None,None
6,2000,HOU,Enron Field,None,None
7,2000,MIN,Hubert H Humphrey Metrodome,None,None
8,2000,OAK,Oakland Coliseum,None,None
9,2000,SFN,PacBell Park,None,None
10,2000,TEX,The Ballpark at Arlington,None,None
11,2000,TOR,Skydome,None,None
12,2000,ATL,Turner Field,Atlanta,Turner Field
13,2000,BAL,Oriole Park at Camden Yards,Baltimore,Oriole Park at Camden Yards
14,2000,CHN,Wrigley Field,Chicago,Wrigley Field
15,2000,CIN,Cinergy Field,Cincinnati,Cinergy Field
16,2000,COL,Coors Field,Denver,Coors Field
17,2000,DET,Comerica Park,Detroit,Comerica Park
18,2000,KCA,Kauffman Stadium,Kansas City,Kauffman Stadium
19,2000,CHN,Wrigley Field,Los Angeles,Wrigley Field
20,2000,LAN,Dodger Stadium,Los Angeles,Dodger Stadium
21,2000,MIL,County Stadium,Milwaukee,County Stadium
22,2000,MON,Stade Olympique,Montreal,Stade Olympique
23,2000,NYA,Yankee Stadium II,New York,Yankee Stadium II
24,2000,NYN,Shea Stadium,New York,Shea Stadium
25,2000,PHI,Veterans Stadium,Philadelphia,Veterans Stadium
26,2000,PIT,Three Rivers Stadium,Pittsburgh,Three Rivers Stadium
27,2000,SDN,Qualcomm Stadium,San Diego,Qualcomm Stadium
28,2000,SEA,Safeco Field,Seattle,Safeco Field
29,2000,SLN,Busch Stadium II,St. Louis,Busch Stadium II
30,2000,TBA,Tropicana Field,St. Petersburg,Tropicana Field

In [25]:
df2.drop(columns = ["park_name"], inplace = True)

In [26]:
df2

    year team_id                         park            city
0   2000     ANA   Edison International Field            None
1   2000     ARI            Bank One Ballpark            None
2   2000     BOS               Fenway Park II            None
3   2000     CHA             Comiskey Park II            None
4   2000     CLE                 Jacobs Field            None
5   2000     FLO           Pro Player Stadium            None
6   2000     HOU                  Enron Field            None
7   2000     MIN  Hubert H Humphrey Metrodome            None
8   2000     OAK             Oakland Coliseum            None
9   2000     SFN                 PacBell Park            None
10  2000     TEX    The Ballpark at Arlington            None
11  2000     TOR                      Skydome            None
12  2000     ATL                 Turner Field         Atlanta
13  2000     BAL  Oriole Park at Camden Yards       Baltimore
14  2000     CHN                Wrigley Field         Chicago
15  2000     CIN                Cinergy Field      Cincinnati
16  2000     COL                  Coors Field          Denver
17  2000     DET                Comerica Park         Detroit
18  2000     KCA             Kauffman Stadium     Kansas City
19  2000     CHN                Wrigley Field     Los Angeles
20  2000     LAN               Dodger Stadium     Los Angeles
21  2000     MIL               County Stadium       Milwaukee
22  2000     MON              Stade Olympique        Montreal
23  2000     NYA            Yankee Stadium II        New York
24  2000     NYN                 Shea Stadium        New York
25  2000     PHI             Veterans Stadium    Philadelphia
26  2000     PIT         Three Rivers Stadium      Pittsburgh
27  2000     SDN             Qualcomm Stadium       San Diego
28  2000     SEA                 Safeco Field         Seattle
29  2000     SLN             Busch Stadium II       St. Louis
30  2000     TBA              Tropicana Field  St. Petersburg

In [32]:
df3 = df2[df2.city.notnull()].copy()
df4 = df2.dropna().copy()

In [30]:
df4

    year team_id                         park            city
12  2000     ATL                 Turner Field         Atlanta
13  2000     BAL  Oriole Park at Camden Yards       Baltimore
14  2000     CHN                Wrigley Field         Chicago
15  2000     CIN                Cinergy Field      Cincinnati
16  2000     COL                  Coors Field          Denver
17  2000     DET                Comerica Park         Detroit
18  2000     KCA             Kauffman Stadium     Kansas City
19  2000     CHN                Wrigley Field     Los Angeles
20  2000     LAN               Dodger Stadium     Los Angeles
21  2000     MIL               County Stadium       Milwaukee
22  2000     MON              Stade Olympique        Montreal
23  2000     NYA            Yankee Stadium II        New York
24  2000     NYN                 Shea Stadium        New York
25  2000     PHI             Veterans Stadium    Philadelphia
26  2000     PIT         Three Rivers Stadium      Pittsburgh
27  2000     SDN             Qualcomm Stadium       San Diego
28  2000     SEA                 Safeco Field         Seattle
29  2000     SLN             Busch Stadium II       St. Louis
30  2000     TBA              Tropicana Field  St. Petersburg

In [33]:
df3['adress'] = df3['park'] + ', ' + df3['city']
df3

,year,team_id,park,city,adress
12,2000,ATL,Turner Field,Atlanta,"Turner Field, Atlanta"
13,2000,BAL,Oriole Park at Camden Yards,Baltimore,"Oriole Park at Camden Yards, Baltimore"
14,2000,CHN,Wrigley Field,Chicago,"Wrigley Field, Chicago"
15,2000,CIN,Cinergy Field,Cincinnati,"Cinergy Field, Cincinnati"
16,2000,COL,Coors Field,Denver,"Coors Field, Denver"
17,2000,DET,Comerica Park,Detroit,"Comerica Park, Detroit"
18,2000,KCA,Kauffman Stadium,Kansas City,"Kauffman Stadium, Kansas City"
19,2000,CHN,Wrigley Field,Los Angeles,"Wrigley Field, Los Angeles"
20,2000,LAN,Dodger Stadium,Los Angeles,"Dodger Stadium, Los Angeles"
21,2000,MIL,County Stadium,Milwaukee,"County Stadium, Milwaukee"
22,2000,MON,Stade Olympique,Montreal,"Stade Olympique, Montreal"
23,2000,NYA,Yankee Stadium II,New York,"Yankee Stadium II, New York"
24,2000,NYN,Shea Stadium,New York,"Shea Stadium, New York"
25,2000,PHI,Veterans Stadium,Philadelphia,"Veterans Stadium, Philadelphia"
26,2000,PIT,Three Rivers Stadium,Pittsburgh,"Three Rivers Stadium, Pittsburgh"
27,2000,SDN,Qualcomm Stadium,San Diego,"Qualcomm Stadium, San Diego"
28,2000,SEA,Safeco Field,Seattle,"Safeco Field, Seattle"
29,2000,SLN,Busch Stadium II,St. Louis,"Busch Stadium II, St. Louis"
30,2000,TBA,Tropicana Field,St. Petersburg,"Tropicana Field, St. Petersburg"

In [34]:
df3['adress'] = df3['adress'] + ', USA'
df3

,year,team_id,park,city,adress
12,2000,ATL,Turner Field,Atlanta,"Turner Field, Atlanta, USA"
13,2000,BAL,Oriole Park at Camden Yards,Baltimore,"Oriole Park at Camden Yards, Baltimore, USA"
14,2000,CHN,Wrigley Field,Chicago,"Wrigley Field, Chicago, USA"
15,2000,CIN,Cinergy Field,Cincinnati,"Cinergy Field, Cincinnati, USA"
16,2000,COL,Coors Field,Denver,"Coors Field, Denver, USA"
17,2000,DET,Comerica Park,Detroit,"Comerica Park, Detroit, USA"
18,2000,KCA,Kauffman Stadium,Kansas City,"Kauffman Stadium, Kansas City, USA"
19,2000,CHN,Wrigley Field,Los Angeles,"Wrigley Field, Los Angeles, USA"
20,2000,LAN,Dodger Stadium,Los Angeles,"Dodger Stadium, Los Angeles, USA"
21,2000,MIL,County Stadium,Milwaukee,"County Stadium, Milwaukee, USA"
22,2000,MON,Stade Olympique,Montreal,"Stade Olympique, Montreal, USA"
23,2000,NYA,Yankee Stadium II,New York,"Yankee Stadium II, New York, USA"
24,2000,NYN,Shea Stadium,New York,"Shea Stadium, New York, USA"
25,2000,PHI,Veterans Stadium,Philadelphia,"Veterans Stadium, Philadelphia, USA"
26,2000,PIT,Three Rivers Stadium,Pittsburgh,"Three Rivers Stadium, Pittsburgh, USA"
27,2000,SDN,Qualcomm Stadium,San Diego,"Qualcomm Stadium, San Diego, USA"
28,2000,SEA,Safeco Field,Seattle,"Safeco Field, Seattle, USA"
29,2000,SLN,Busch Stadium II,St. Louis,"Busch Stadium II, St. Louis, USA"
30,2000,TBA,Tropicana Field,St. Petersburg,"Tropicana Field, St. Petersburg, USA"

### Exercise for the next lecture<a class="anchor" id="exerciselecture"></a>
The National Football League (NFL, US professional league for American football) consists of 32 teams divided into two conferences, the AFC and the NFC. Each of these Conferences is again divided into - more or less - regional divisions, named after the compass directions, e.g. NFC South. A tabular overview can be found at https://bit.ly/2UP8Cfi (English) or https://bit.ly/2xHHoPH (German).

**For the following tasks, please form teams of at least (and ideally also a maximum of) three people, whereby you determine a team lead.** *Please*, organize yourself in such a way that the previous knowledge is equally distributed in each team. Especially git/GitHub knowledge should be at least a little bit present in each team.

1. The team lead creates a repository for this mini-project on GitHub and invites the other team members as collaborators (Settings >>> Manage access >>> Invite a collaborator).
2. In the subfolder "modules" of the repository of this lecture you will find a template file named "template_l04.py". The team lead should download it and add it to your repository. It is up to you whether you do this in a subfolder or directly on the top level.
3. In the template, which will be a module for your project, you will find an initial structure for a dictionary and two methods. The team lead is responsible for filling the dictionary and the other two team members share the methods between themselves. (If there are more than three people in your team, more people can create separate dictionaries for other NFL divisions, thus increasing the database).
4. Each collaborator now creates his or her own branch in git/GitHub on which he or she will work.
5. When the development work is completed, the team lead is responsible for merging the individual results and testing. The result should be able to be integrated as a module or package into a Jupyter Notebook, where, if two teams are specified, a sentence can be displayed about which team is older.

### References<a class="anchor" id="references"></a>

[1]<a class="anchor" id="downey2015"></a> Downey, A. (2015). *Think Python - How to think like a computer scientist* (2nd ed.). Green Tea Press. Retrieved 2020-03-26 from http://greenteapress.com/thinkpython2/thinkpython2.pdf

[2]<a class="anchor" id="python2020a"></a> The Python Standard Library (2020). Collections. Retrieved 2020-03-31 from https://docs.python.org/3/library/collections.html

[3]<a class="anchor" id="w3schools2020"></a> w3schools (2020). Python lists. Retrieved 2020-03-31 from https://www.w3schools.com/python/python_lists.asp

[4]<a class="anchor" id="downey2015"></a> Mohan, M. (2017). Mutable vs Immutable Objects in Python. *Medium*. Retrieved 2020-03-26 from https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

[5]<a class="anchor" id="python2020b"></a> The Python Standard Library (2020). Built-in types. Retrieved 2020-03-31 from https://docs.python.org/2.7/library/stdtypes.html#frozenset

[6]<a class="anchor" id="aroutiounian2013"></a> Aroutiounian, E., Machavity, Pieters, M. (2013). Why is the order in dictionaries and sets arbitrary? *Stack Overflow*. Retrieved 2020-03-31 from https://stackoverflow.com/questions/15479928/why-is-the-order-in-dictionaries-and-sets-arbitrary/15479974#15479974

[7]<a class="anchor" id="reitz2016"></a> Reitz, K., & Schlusser, T. (2016). *The Hitchhiker's Guide to Python: Best Practices for Development*. O'Reilly Media, Inc.

[8]<a class="anchor" id="learnpython2020"></a> learnpython.org (2020). Modules and Packages. Retrieved 2020-03-26 from https://www.learnpython.org/en/Modules_and_Packages

[9]<a class="anchor" id="anaconda2020"></a> Anaconda, Inc. (2020). Anaconda package lists. Retrieved 2020-03-31 from https://docs.anaconda.com/anaconda/packages/pkg-docs/

[10]<a class="anchor" id="pip2020"></a> Python Software Foundation (2020). pip 20.0.2. Retrieved 2020-03-31 from https://pypi.org/project/pip/

[11]<a class="anchor" id="sqlite32020"></a> The Python Standard Library (2020). sqlite3 — DB-API 2.0 interface for SQLite databases. Retrieved 2020-03-31 from https://docs.python.org/3/library/sqlite3.html

[12]<a class="anchor" id="mckinney2011"></a> McKinney, W. (2011). pandas: a foundational Python library for data analysis and statistics. *Python for High Performance and Scientific Computing, 14*(9). [See also: https://pandas.pydata.org/]